.cart {
  width: calc(100% - 324px);
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  background: var(--bg);
  border-radius: 8px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
  color: var(--violet-dark);
}

.contactInfo {
  font-size: 16px;
  line-height: 24px;
  color: var(--light);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contactInfo a {
  color: var(--violet);
  text-decoration: none;
  transition: color 0.3s ease;
}

.contactInfo a:hover {
  color: var(--violet-dark);
}

.contactInfo address {
  font-style: normal;
  line-height: 24px;
}
