.sidebar {
  width: 304px;
  padding: 24px;
  height: 423px;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
}

.menu {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.link {
  color: var(--dark-sea);
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
}

.link:hover {
  color: var(--white);
}

.link.active {
  color: var(--violet);
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    border-radius: 8px;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  }
}